@model UpcomingMeetupsPage

<div class="row mb-3">
    <div class="col-6 page-title text-center">Meetup History:</div>
</div>

@if (@Model.PageData.Attendance.Any())
{
    <div class="row sub-page-right-list-header">
        <div class="col-3 offset-1 sub-heading">CLUB</div>
        <div class="col-4 sub-heading">MOVIE</div>
        <div class="col-2 sub-heading">WHEN</div>
        <div class="col-2 sub-heading">RSVP</div>
    </div>

    @foreach (var a in Model.PageData.Attendance)
    {                
        <div class="row mt-3 sub-page-right-list text-center">
            <div class="col-1 mt-1 text-center">
                <a asp-area="Meetups" asp-page="/Details/MeetupDetailsPage" asp-route-id="@a.Meetup.Id"><i class="fa fa-id-card"></i></a>
            </div>
            <div class="col-3 mt-1">
                <a asp-area="Clubs" asp-page="/Details/ClubDetailsPage" asp-route-id="@a.Meetup.Club.Id" class="sub-page-list-item">
                        @a.Meetup.Club.Name
                </a>
            </div>
                    
            <div class="col-4 mt-1">@a.Meetup.Movie.Title</div>
            <div class="col-2 mt-1 sub-page-right-list-date">
                <div class="row">
                    <div class="col-6">@a.Meetup.Date.ToShortDateString()</div>
                    <div class="col-6">@a.Meetup.Date.ToShortTimeString()</div>
                </div>
            </div>
            <div class="col-2">
                <div class="col-10 offset-2 user-input-readonly">@a.Status</div>
            </div>
        </div>
    }                                
}
else
{
    <div class="row">
        <div class="col-4 offset-4 text-center">
            <div class="sub-page-right-list">
                <div class="sub-page-title">No Meetups</div>
            </div>
        </div>
    </div>
}