 @model MeetupDetailsPage

@if (Model.PageData.AttendanceAttending.Any())
{
    <div class="row mt-4">
        <div class="col-10 offset-1 text-center">
            <div class="sub-page-title">ATTENDING:</div>
        </div>
    </div>

    @foreach (var a in Model.PageData.AttendanceAttending)
    {
    <div class="row">                   
        <div class="col-10 offset-1 mt-3 pb-2 sub-page-left">
            <div class="row mt-2 text-center">
                <div class="col-12">
                    <a asp-area="Users" asp-page="/Profile/UserProfilePage" asp-route-id="@a.UserProfile.Id" class="sub-page-list-item">@a.UserProfile.DisplayName</a>
                </div>
            </div>
        </div>
    </div>
    }
}

@if (Model.PageData.AttendanceInvited.Any())
{
    <div class="row mt-4">
        <div class="col-10 offset-1 text-center">
            <div class="sub-page-title">INVITED:</div>
        </div>
    </div>

    @foreach (var a in Model.PageData.AttendanceInvited)
    {
    <div class="row">                   
        <div class="col-10 offset-1 mt-3 pb-2 sub-page-left">
            <div class="row mt-2 text-center">
                <div class="col-12">
                    <a asp-area="Users" asp-page="/Profile/UserProfilePage" asp-route-id="@a.UserProfile.Id" class="sub-page-list-item">@a.UserProfile.DisplayName</a>
                </div>
            </div>
        </div>
    </div>
    }
}

@if (Model.PageData.AttendanceDeclined.Any())
{
    <div class="row mt-4">
        <div class="col-10 offset-1 text-center">
            <div class="sub-page-title">CAN'T ATTEND:</div>
        </div>
    </div>

    @foreach (var a in Model.PageData.AttendanceDeclined)
    {
    <div class="row">                   
        <div class="col-10 offset-1 mt-3 pb-2 sub-page-left">
            <div class="row mt-2 text-center">
                <div class="col-12">
                    <a asp-area="Users" asp-page="/Profile/UserProfilePage" asp-route-id="@a.UserProfile.Id" class="sub-page-list-item">@a.UserProfile.DisplayName</a>
                </div>
            </div>
        </div>
    </div>
    }
}