@page "/home"
@model HomePage
@{
    ViewData["Title"] = "Home";
}

<div class="row">

    @*Upcoming Meetups*@
    <div class="col-6 sub-page">

        @if (Model.Meetups is not null)
        {
            @if (Model.Meetups.UpcomingMeetups.Any())
            {
                <div class="row pt-5 text-center">
                    <div class="sub-page-title">Upcoming Meetups</div>
                </div>

                <div class="row pt-5 pb-3">
                    <div class="col-4 column-header">Club</div>
                    <div class="col-2 column-header">Date</div>
                    <div class="col-2 column-header">Host</div>
                    <div class="col-4 column-header">Movie</div>
                </div>

                @foreach (var m in Model.Meetups.UpcomingMeetups)
                {
                    <div class="row mb-2 p-2">
                        <div class="col-4">
                            <input class="form-control text-center column-readonly" type="text" value="@m.Club.Name" readonly />
                        </div>
                        <div class="col-2">
                            <input class="form-control text-center column-readonly" type="text" value="@m.Date.ToShortDateString()" readonly />
                        </div>
                        <div class="col-2">
                            <input class="form-control text-center column-readonly" type="text" value="@m.Host" readonly />
                        </div>
                        <div class="col-4">
                            <input class="form-control text-center column-link" type="text" value="@m.Movie.Title" readonly />
                        </div>
                    </div>
                }
            }
        }
    </div>

    <div class="col-5 offset-1 sub-page">

        @if (Model.Clubs is not null)
        {
            <div class="row pt-5 text-center">
                <div class="col-8">
                    <div class="sub-page-title">Your Clubs</div>
                </div>
                <div class="col-4">
                    <button asp-area="Clubs" asp-page="/Create/CreateClubPage" type="submit" class="btn btn-success mt-1">New Club</button>
                </div>
            </div>

            <div class="row pt-5 pb-3">
                <div class="col-5 column-header">Club</div>
                <div class="col-3 column-header">Membership</div>
            </div>

            @if (Model.Clubs.ClubsLeader.Any())
            {
                @foreach (var club in Model.Clubs.ClubsLeader) 
                {
                    <div class="row text-center mb-2 p-2">
                        <div class="col-5">
                            <input class="form-control text-center column-link" type="text" value="@club.Name" readonly />
                        </div>
                        <div class="col-3">
                            <input class="form-control text-center column-readonly" type="text" value="@club.UserRank" readonly />
                        </div>
                        <div class="col-4">
                            <a asp-area="Meetups" asp-page="Create/CreateMeetupPage" asp-route-id="@club.Id" class="btn btn-warning">Host Meetup</a>
                        </div>
                    </div>
                }
            }

            @if (Model.Clubs.ClubsMember.Any())
            {
                @foreach (var club in Model.Clubs.ClubsMember) 
                {
                    <div class="row text-center mb-2 p-2">
                        <div class="col-5">
                            <input class="form-control text-center column-link" type="text" value="@club.Name" readonly />
                        </div>
                        <div class="col-3">
                            <input class="form-control text-center column-readonly" type="text" value="@club.UserRank" readonly />
                        </div>
                        <div class="col-2">
                            <a asp-area="Meetups" asp-page="Create" asp-route-id="@club.Id" class="btn btn-success">Host Meetup</a>
                        </div>
                        <div class="col-2">
                            <form method="post">
                                <input type="hidden" asp-for="ClubId" value="@club.Id" />
                                <input asp-page-handler="Cancel" type="submit" value="Quit" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                }
            }

            @if (Model.Clubs.ClubsPending.Any())
            {
                @foreach (var club in Model.Clubs.ClubsPending) 
                {
                    <div class="row text-center mb-2 p-2">
                        <div class="col-5">
                            <input class="form-control text-center column-link" type="text" value="@club.Name" readonly />
                        </div>
                        <div class="col-3">
                            <input class="form-control text-center column-readonly" type="text" value="@club.UserRank" readonly />
                        </div>
                        <div class="col-4">
                            <form method="post">
                                <input type="hidden" asp-for="ClubId" value="@club.Id" />
                                <input asp-page-handler="Cancel" type="submit" value="Cancel Membership" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                }
            }
        }

    </div>
</div>