@page "/home"
@model HomePage
@{
    ViewData["Title"] = "Home";
}

<form method="post" id="Search"></form>

<div class="row">

    @*Club Browser*@
    <div class="col-7">

        <div class="row pt-5">
            <div class="col-3 offset-1">
                <input type="text" asp-for="SearchValue" class="form-control input" form="Search" placeholder="Search existing Clubs" />
                <span asp-validation-for="SearchValue" class="text-danger"></span>
            </div>
            <div class="col-2">
                <input asp-page-handler="Search" type="submit" value="Search" class="btn btn-primary" form="Search" />
            </div>
            <div class="col-3 offset-2">
                <a asp-page="Create" class="btn btn-success">Create New Club</a>
            </div>
        </div>

        <div class="row column-header pt-5">
            <div class="col-3">
                <h6>Club Name</h6>
            </div>
            <div class="col-1">
                <h6>Members</h6>
            </div>
            <div class="col-3">
                <h6>Created By</h6>
            </div>
            <div class="col-2">
                <h6>Membership</h6>
            </div>
        </div>

        @if (Model.Clubs is not null)
        {
            @if (Model.Clubs.ClubsLeader.Any())
            {
                @foreach (var club in Model.Clubs.ClubsLeader) 
                {
                    <div class="row mb-2">
                        <div class="col-3">
                            <input class="form-control text-center bg-dark input-readonly" type="text" value="@club.Name" readonly />
                        </div>
                        <div class="col-1">
                            <input class="form-control text-center bg-dark input-readonly" type="text" value="@club.Memberships.Count" readonly />
                        </div>
                        <div class="col-3">
                            @if (@club.UserRank == MembershipRank.Leader)
                            {
                                <input class="form-control text-center bg-dark input-readonly" type="text" value="You" readonly />
                            }
                            else
                            {
                                <input class="form-control text-center bg-dark input-readonly" type="text" value="@club.ClubLeader" readonly />
                            }
                        </div>
                        <div class="col-2">
                            <input class="form-control text-center bg-dark input-readonly" type="text" value="@club.UserRank" readonly />
                        </div>
                        <div class="col-3">
                            <a asp-area="Meetups" asp-page="Create/CreateMeetupPage" asp-route-id="@club.Id" class="btn btn-warning">Host Meetup</a>
                        </div>
                    </div>
                }
            }

            @if (Model.Clubs.ClubsMember.Any())
            {
                @foreach (var club in Model.Clubs.ClubsMember) 
                {
                    <div class="row">
                        <div class="col-3">
                            <input class="form-control text-center bg-dark input-readonly" type="text" value="@club.Name" readonly />
                        </div>
                        <div class="col-1">
                            <input class="form-control text-center bg-dark input-readonly" type="text" value="@club.Memberships.Count" readonly />
                        </div>
                        <div class="col-3">
                            <input class="form-control text-center bg-dark input-readonly" type="text" value="@club.ClubLeader" readonly />
                        </div>
                        <div class="col-2">
                            <input class="form-control text-center bg-dark input-readonly" type="text" value="@club.UserRank" readonly />
                        </div>
                        <div class="col-3">
                            <a asp-area="Meetups" asp-page="Create" asp-route-id="@club.Id" class="btn btn-success">Host Meetup</a>
                        </div>
                        <div class="col-3">
                            <form method="post">
                                <input type="hidden" asp-for="ClubId" value="@club.Id" />
                                <input asp-page-handler="Cancel" type="submit" value="Quit" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                }
            }

            @if (Model.Clubs.ClubsPending.Any())
            {
                @foreach (var club in Model.Clubs.ClubsPending) 
                {
                    <div class="row">
                        <div class="col-3">
                            <input class="form-control text-center bg-dark input-readonly" type="text" value="@club.Name" readonly />
                        </div>
                        <div class="col-1">
                            <input class="form-control text-center bg-dark input-readonly" type="text" value="@club.Memberships.Count" readonly />
                        </div>
                        <div class="col-3">
                            <input class="form-control text-center bg-dark input-readonly" type="text" value="@club.ClubLeader" readonly />
                        </div>
                        <div class="col-2">
                            <input class="form-control text-center bg-dark input-readonly" type="text" value="@club.UserRank" readonly />
                        </div>
                        <div class="col-3">
                            <form method="post">
                                <input type="hidden" asp-for="ClubId" value="@club.Id" />
                                <input asp-page-handler="Cancel" type="submit" value="Cancel" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                }
            }
        }

        @if (Model.SearchedClubs is not null)
        {
            @foreach (var club in Model.SearchedClubs) 
            {
                <div class="row">
                    <div class="col-3">
                        <input class="form-control text-center bg-dark input-readonly" type="text" value="@club.Name" readonly />
                    </div>
                    <div class="col-1">
                        <input class="form-control text-center bg-dark input-readonly" type="text" value="@club.Memberships.Count" readonly />
                    </div>
                    <div class="col-3">
                        <input class="form-control text-center bg-dark input-readonly" type="text" value="@club.ClubLeader" readonly />
                    </div>
                    <div class="col-2">
                        <input class="form-control text-center bg-dark input-readonly" type="text" value="" readonly />
                    </div>
                    <div class="col-3">
                        <form method="post">
                            <input type="hidden" asp-for="ClubId" value="@club.Id" />
                            <input asp-page-handler="Join" type="submit" value="Apply To Join" class="btn btn-success" />
                        </form>
                    </div>
                </div>
            }
        }

    </div>

    @*Upcoming Meetups*@
    <div class="col-5">

        <div class="row pt-5 text-center">
            <h3>Upcoming Meetups</h3>
        </div>

        <div class="row column-header pt-5">
            <div class="col-4">
                <h6>Club</h6>
            </div>
            <div class="col-4">
                <h6>Date</h6>
            </div>
            <div class="col-4">
                <h6>Movie</h6>
            </div>
        </div>

        @if (Model.Meetups is not null)
        {
            @if (Model.Meetups.UpcomingMeetups.Any())
            {
                @foreach (var m in Model.Meetups.UpcomingMeetups)
                {
                    <div class="row">
                        <div class="col-6">
                            <input class="form-control text-center bg-dark input-readonly" type="text" value="@m.Date" readonly />
                        </div>
                        <div class="col-6">
                            <input class="form-control text-center bg-dark input-readonly" type="text" value="@m.Movie.Title" readonly />
                        </div>
                    </div>
                }
            }
        }

    </div>

</div>