@page "/clubmeetups/previous/{id}"
@model PreviousClubMeetupsPage
@{
}

<div class="row">

    <div class="col-4 mt-4">
        @*Club Name*@
        <div class="row">
            <div class="col-11 offset-1 page-title">
                <a asp-area="Clubs" asp-page="/Details/ClubDetailsPage" asp-route-id="@Model.ClubMeetups.ClubId" class="page-nav-title">@Model.ClubMeetups.ClubName</a>
            </div>
        </div>
    </div>

    <div class="col-8">

        @*Page Navigation*@
        <div class="row pt-3 text-center">

            <div class="col-4">
                <a asp-area="Meetups" asp-page="/ClubMeetups/PreviousClubMeetupsPage" asp-route-id="@Model.ClubMeetups.ClubId" class="page-nav">&#8592; Previous Meetups</a>
            </div>

            <div class="col-4">
                <a asp-area="Meetups" asp-page="/Create/CreateMeetupPage" asp-route-id="@Model.ClubMeetups.ClubId" class="page-nav-success">HOST A MEETUP</a>
            </div>

            <div class="col-4">
                <a asp-area="Meetups" asp-page="/ClubMeetups/UpcomingClubMeetupsPage" asp-route-id="@Model.ClubMeetups.ClubId" class="page-nav">Future Meetups &#8594;</a>
            </div>
        </div>

        @*Previous Meetups*@
        @if (Model.ClubMeetups.Meetups.Any())
        {
            <div class="sub-page">
                <div class="row text-center">
                    <div class="sub-page-title">Previous Meetups</div>
                </div>

                <div class="row pt-5">
                    <div class="col-4 column-header">Date</div>
                    <div class="col-3 column-header">Chosen By</div>
                    <div class="col-5 column-header">Movie</div>
                </div>

                <hr />

                @foreach (var m in Model.ClubMeetups.Meetups)
                {
                    <div class="row mb-2 p-2">
                        <div class="col-4">
                            <div class="form-control column-readonly">@m.Date.ToShortDateString() </div>
                        </div>
                        <div class="col-3">
                            <div class="form-control column-readonly">@m.Host </div>
                        </div>
                        <div class="col-5">
                            <a asp-area="Movies" asp-page="/Details/MovieDetailsPage" asp-route-id="@m.Movie.Id" class="form-control column-link">@m.Movie.Title</a>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="row sub-page text-center">
                <div class="sub-page-title">No Previous Meetups</div>
            </div>
        }

    </div>

</div>