@page "/clubs/{id}/meetups/upcoming"
@model UpcomingMeetupsPage
@{
}
    <div class="row mt-4">

        <div class="col-3">
            @*Club Name*@
            <div class="row">
                <div class="col-12 mt-3 page-title">
                    <a asp-area="Clubs" asp-page="/Details/ClubDetailsPage" asp-route-id="@Model.ClubMeetups.ClubId" class="page-nav-title">@Model.ClubMeetups.ClubName</a>
                </div>
            </div>

            <div class="row mt-2">

                <div class="col-5">
                    <div class="row mt-5">
                        <div class="col-3 offset-7 text-start">
                            <a asp-area="Clubs" asp-page="/Details/ClubDetailsPage" asp-route-id="@Model.ClubMeetups.ClubId" class="page-nav text-warning">BACK</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 text-center">
                    <div class="row mt-2">
                        <div class="col-10 text-end">
                            <a asp-area="Meetups" asp-page="/Create/CreateMeetupPage" class="page-nav-success">Host Meetup</a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-10 text-end">
                            <a asp-area="Clubs" asp-page="/Meetups/UpcomingMeetupsPage" asp-route-id="@Model.ClubMeetups.ClubId" class="page-nav text-end">Upcoming Meetups</a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-10 text-end">
                            <a asp-area="Clubs" asp-page="/Meetups/PastMeetupsPage" asp-route-id="@Model.ClubMeetups.ClubId" class="page-nav text-end">Past Meetups</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-9 mt-3">

            <div class="row mb-3">
                <div class="col-10 offset-1 sub-page-title">Next Meetup:</div>
            </div>

            @*Next Meetup*@
            @if (@Model.ClubMeetups.Meetups is not null)
            {
                <div class="sub-page">

                </div>
            }
            else
            {
                <div class="row text-center">
                    <div class="col-6 offset-3 p-4 sub-page">
                        <div class="sub-page-title">No Upcoming Meetups</div>
                    </div>
                </div>
            }

        </div>

    </div>