@page
@model EditUserProfilePage
@{
}
<div class="row">

    <div class="col-3">
        @await Html.PartialAsync("./_UserNavigationPartial", Model.PageData!.UserProfile)    

        <div class="row text-center">
            <div class="col-10 offset-1 mt-4 p-4 sub-page-left border-danger">
                <div class="row text-center"> 
                    <div class="col-8 offset-1">
                        <div class="sub-heading">Delete Profile</div>
                    </div>   
                    <div class="col-2">
                        <form asp-page-handler="DeleteProfile" method="post" onclick="return confirm('Really delete your profile? ?')">
                            <input type="hidden" asp-for="@Model.PageData.UserProfile.Id" value="@Model.PageData.UserProfile.Id" />
                            <button class="list-item-icon" type="submit"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </form>        
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-9">

        <div class="row mb-3">
            <div class="col-6 page-title text-center">Edit Profile:</div>
        </div>

        <div class="row mb-3">
            <div class="col-10 offset-1">
                <form asp-page-handler="UpdateProfile" method="post">
                    <div class="row p-3 sub-page-right">

                        <div class="col-2 offset-1 sub-heading">Name:</div>

                        <div class="col-5 form-group">
                            <input asp-for="@Model.PageData.NewDisplayName" class="form-control user-input" />
                            <span asp-validation-for="@Model.PageData.NewDisplayName" class="text-danger"></span>
                        </div>

                        <div class="col-2 offset-1 text-center form-group">
                            <input type="hidden" asp-for="@Model.PageData.UserProfile.Id"/>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
                
    </div>
</div>