@model ClubMembershipsModel

@if (Model.Memberships.Any())
{
    <div class="row">
        <div class="col-12">

            @if (Model.Memberships.Any())
            {   
                <div class="row mt-3 mb-1">
                    <div class="col-10 offset-2 pt-1 sub-page-title text-start">Memberships :</div>
                </div> 
                @foreach (var m in Model.Memberships)
                {
                    <div class="row">
                        <div class="col-2 mt-2 text-center">
                            @if ( Model.UserMembership.Rank == MembershipRank.Leader )
                            {
                                <form asp-page-handler="RejectMembership" method="post" onclick="return confirm('Are you sure you want to kick @m.UserProfile.DisplayName ?')">
                                    <input type="hidden" asp-for="@Model.ClubId" value="@Model.ClubId"/>
                                    <input type="hidden" asp-for="@Model.MembershipId" value="@m.Id" />
                                    <button type="submit" class="btn-danger"><i class="fa fa-times"></i></button>
                                </form>
                            }
                        </div>

                        <div class="col-8 sub-page-left-item text-center">
                            <a asp-area="Users" asp-page="/Profile/UserProfilePage" asp-route-profileId="@m.UserProfile.Id" class="sub-page-link">@m.UserProfile.DisplayName</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}

