@model ClubDetailsPage

@if (Model.PageData.ClubMembers.Any())
{
    <div class="row">

        <div class="row mt-3">
            <div class="col-10 offset-1 text-center">
                <div class="sub-page-title">MEMBERS:</div>
            </div>
        </div>

        <div class="col-10 offset-1 mt-3 pb-2 mb-3 sub-page-left">
            <div class="row mt-2 text-center">
                <div class="col-1 m-sm-1">
                    <i class="fa fa-star list-item-icon"></i>
                </div>   
                <div class="col-9">
                    <a asp-area="Users" asp-page="/Profile/UserProfilePage" asp-route-id="@Model.PageData.Club.ClubLeader.Id" class="sub-page-list-item">@Model.PageData.Club.ClubLeader.DisplayName</a>
                </div>                            
            </div>
        </div>
                   
        @foreach (var m in Model.PageData.ClubMembers)
        {
            <div class="col-10 offset-1 mt-2 pb-2 sub-page-left">
                <div class="row mt-2 text-center">
                    @if (@Model.PageData.UserMembership.Rank == MembershipRank.Leader) 
                    {
                        <div class="col-1">
                            <form asp-page-handler="DeleteMembership" method="post" onclick="return confirm('Really kick @m.UserProfile.DisplayName ?')">
                                <input type="hidden" asp-for="@Model.PageData.Club.Id" value="@Model.PageData.Club.Id" />
                                <input type="hidden" asp-for="@Model.PageData.UserMembership.Rank" value="@Model.PageData.UserMembership.Rank" />
                                <input type="hidden" asp-for="@Model.PageData.UserMembership.Id" value="@m.Id" />
                                <button class="list-item-icon" type="submit"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </form>
                                    
                        </div>
                        <div class="col-10">
                            <a asp-area="Users" asp-page="/Profile/UserProfilePage" asp-route-id="@m.UserProfile.Id" class="sub-page-list-item">@m.UserProfile.DisplayName</a>
                        </div>

                    }
                    else
                    {
                        @if (@Model.PageData.UserMembership.Id == m.Id)
                        {
                            <div class="col-1">
                                <form asp-page-handler="DeleteMembership" method="post" onclick="return confirm('Are you sure you want to leave the Club?')">
                                    <input type="hidden" asp-for="@Model.PageData.Club.Id" value="@Model.PageData.Club.Id" />
                                    <input type="hidden" asp-for="@Model.PageData.UserMembership.UserProfile.Id" value="@Model.PageData.UserMembership.UserProfile.Id" />
                                    <input type="hidden" asp-for="@Model.PageData.UserMembership.Id" value="@Model.PageData.UserMembership.Id" />
                                    <button class="list-item-icon" type="submit"><i class="fa fa-times" aria-hidden="true"></i></button>
                                </form>
                            </div>         
                                        
                            <div class="col-9">
                                    <a asp-area="Users" asp-page="/Profile/UserProfilePage" asp-route-id="@m.UserProfile.Id" class="sub-page-list-item">@m.UserProfile.DisplayName</a>
                            </div>

                        }
                        else
                        {
                            <div class="col-11">
                                    <a asp-area="Users" asp-page="/Profile/UserProfilePage" asp-route-id="@m.UserProfile.Id" class="sub-page-list-item">@m.UserProfile.DisplayName</a>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="row text-center">
        <div class="col-10 offset-1 mt-4 p-4 sub-page-left">
            <div class="sub-page-title">No Club Members</div>
        </div>
    </div>
}

@*Pending Members*@
@if (Model.PageData.UserMembership.Rank == MembershipRank.Leader)
{
    @if (Model.PageData.PendingMemberships.Any())
    {
        <div class="row mt-4">
            <div class="col-10 offset-1 text-center">
                <div class="sub-page-title">Membership Requests:</div>
            </div>
        </div>

        @foreach (var m in Model.PageData.PendingMemberships)
        {
            <div class="row sub-page-left mt-2 p-2 text-center">
                <div class="col-2">
                    <form asp-page-handler="AcceptMembership" method="post" onclick="return confirm('Accept request from @m.UserProfile.DisplayName ?')">
                        <input type="hidden" asp-for="@Model.PageData.UserMembership.Rank" value="@Model.PageData.UserMembership.Rank" />
                        <input type="hidden" asp-for="MembershipUserId" value="@m.UserProfile.Id" />
                        <input type="hidden" asp-for="@Model.PageData.Club.Id" value="@Model.PageData.Club.Id" />
                        <button class="btn btn-success" type="submit"><i class="fa fa-check" aria-hidden="true"></i></button>
                    </form>
                </div>

                <div class="col-8">
                    <a asp-area="Users" asp-page="/Profile/UserProfilePage" asp-route-id="@m.UserProfile.Id" class="sub-page-list-item">@m.UserProfile.DisplayName</a>
                </div>

                <div class="col-2">
                    <form asp-page-handler="RemoveMembership" method="post" onclick="return confirm('Reject request from @m.UserProfile.DisplayName ?')">
                        <input type="hidden" asp-for="@Model.PageData.UserMembership.Rank" value="@Model.PageData.UserMembership.Rank" />
                        <input type="hidden" asp-for="MembershipUserId" value="@m.UserProfile.Id" />
                        <input type="hidden" asp-for="@Model.PageData.Club.Id" value="@Model.PageData.Club.Id" />
                        <button class="btn btn-danger" type="submit"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        }
}
}